body{
    background-color: rgb(224, 219, 219);
}

.fa{
    color: rgb(86, 86, 241);
}

.icon-color{
    color: #565252d4;
}

.box-part{
    background-color: rgb(249, 244, 244);
    padding: 40px 5px;
    margin: 30px 0px;
}

span{
    font-size: 12px;
}

a{
    border-bottom: 1px solid rgb(25, 0, 255);
}

.box{
    padding: 60px 0px;
}
